
body {
    font-family: 'Montserrat', sans-serif;
    // overflow-x: hidden;
    background-image: url('../../assets/images/right.png');
    background-repeat: no-repeat;
    background-position: right top 0px;
    background-size: 36% 75%;
  
  }
  .one>.second>.col-md-2>img{
  position: absolute;
  height: 476px;
  width: 134px;
  top: 10px;
  
  }
   .container.two{
     position: relative;
     top: 20px;
   }
  .thickness {
    font-weight: 700;
  }
  
  .thicker {
    font-weight: 900;
    font-size: 400%;
  }
  
  .lighter {
    font-weight: 300;
  }
  .two>.second>.col-sm-4>h4>.span2{
    position: relative;
   top: 9px;
  }
  
  .one>.first>.col-md-5>h2 {
   font-weight: bold !important;
    }
  .one>.second>.col-md-5>h1{
   font-weight: bold !important;
   font-size:-webkit-xxx-large;
  }
   .two>.second>.col-md-4{
     padding: 5px;
   }
   .two>.second>.col-md-4.two{
    position: relative;
    top: -5px;
    right: 34px;
  } 
  .two>.second>.col-sm-4>h4>.span1{
    font-weight: bold;
   font-size: 22px;
 }
 .two>.second>.col-sm-4>h4>.span2{
  // font-weight: bold;
 font-size: 22px;
}
  .two>.second>.col-md-4.three{
    position: relative;
    right: 18px;
  }
  .two>.second>.col-md-4>input{
   border: 1px solid !important;
   border-color: black;
   width: 185px;
   height: 50px;
   text-align: center;
   font-size : 14px;
   position: relative;
   top: 2px;
  }
  .two>.second>.col-md-4>::-webkit-input-placeholder{
     text-align: center
  }
  .two>.second>.col-md-4>h1{
   /* text-align: center; */
   font-size: 35px;
   font-weight: bold;
  }
  .two>.second>.col-md-4>.text{
  position: relative;
  top:-43px;
  
  }
  .two>.second>.col-md-4>.btn{
    position: relative;
    font-size: 13px;
    width: 108px;
    height: 54px;
    background-color: black;
    top: -3px;
  }
  .three>.first>.col-md-12{
  position: relative;
  text-align: right;
  }
  .three>.first>.col-md-12>img{
    width: 74px;
    position: relative;
    bottom: 20px;
  }
  .three>.first>.col-md-12>h6{
    position: relative;
    top: 33px;
    left: -167px;
    font-size: 13px;
  } 
  .two>.second>.col-sm-3>.text>span{
    font-weight: bold;
    position: relative;
    top: -11px;
    font-size: 12px;
    left: 7px;
  }
  .container.three{
    position: relative;
    top: 10px;
  }
  
  @media screen and (min-width: 640px) and (max-width: 786px)  /* for tablet */
  {
  
    .one>.second>.col-md-2>img{
      position: absolute;
      height: 476px;
      width: 100px;
      top: 10px;
  
    }  
    .container.two {
      position: relative;
      top: -42px;
  }
    body {
      font-family: 'Montserrat', sans-serif;
      overflow-x: hidden;
      background-image: url('../../assets/images/right.png');
      background-repeat: no-repeat;
      background-position: right top 0px;
      background-size: 46% 68%;
  
  }
  .two>.second>.col-md-4>h1{
    font-size: 24px;
    font-weight: bold;
  }
  .two>.second>.col-sm-3>.text>span{
    font-weight: bold;
    position: relative;
    top: -11px;
    font-size: 9px;
    left: -2px;
  }
  .two>.second>.col-sm-4>h4>.span1{
     font-weight: bold;
    font-size: 18px;
  }
  .two>.second>.col-sm-4>h4>.span2{
    position: relative;
   font-size: 18px;
   top: 6px !important;
  }
  .two>.second>.col-sm-5>input {
    border: 1px solid !important;
    border-color: black;
    height: 45px;
    text-align: center;
    font-size: 14px;
    position: relative;
    top: 2px;
    // width: -webkit-fill-available;
  }
   .two>.second>.col-sm-5>button{
    background-color: black;
    // width: -webkit-fill-available;
   }  
   .two>.second>.col-md-4.two {
    position: relative;
    right: 30px;
    top: -7px;
  }  
  .three>.first>.col-md-12>img {
    width: 57px;
    position: relative;
    bottom: 20px;
  }  
  .three>.first>.col-md-12>h6 {
    position: relative;
    top: 22px;
    left: -123px;
    font-size: 11px;
  }
  
  }
  
  
  @media only screen and (width: 1440px) /* for laptop size 1440 */
  {
    .three>.first>.col-md-12
    {
      position: relative;
      text-align: right;
      right: 56px;
     }
     .two>.second>.col-md-4.three{
      position: relative;
      right: -21px;
    }
  }
  
  @media only screen and (width: 1024px) /* for laptop size 1024 */
  {
    .three>.first>.col-md-12
    {
      position: relative;
      text-align: right;
  
     }
  }
  @media  screen and (min-width: 320px) and (max-width: 500px) /* for mobiles */
  {
     .one>.first>.col-xs-12>h2{
      font-size: 19px;
      position: relative;
      left: 61px;
      width: 100px;
  
    }  
    .two>.second>.col-md-4.two{
      position: relative;
      right: 0px;
      top: -220px;
    }  
    .two>.second>.col-md-4.three {
      position: relative;
       right: 0px;
       top:-233;
  }
    .one>.second>.col-xs-3>img {
      position: absolute;
      height: 264px;
      width: 71px;
      top: -24px;
      left: 0px;
  }
  body {
    font-family: 'Montserrat', sans-serif;
    // overflow-x: hidden;
    background-image: url('../../assets/images/right.png');
    background-repeat: no-repeat;
    background-position: right top 82px;
    background-size: 34% 24%;
  }
  .one>.second>.col-xs-5>h1 {
    font-weight: bold !important;
    font-size: 33px;
    text-shadow: 0px 1px, 1px 0px, 1px 1px;
    position: relative;
    bottom: 30px;
    left: 61px;
    width: 100px;
  }
  
    .one>.second>.col-xs-5>h2{
      font-size: 21px;
      bottom: 77px;
      position: relative;
      left: 150px;
      width: 100px;
    }
    .two>.second>.col-sm-3{
      position: relative;
      bottom: 150px;
    }
    .two>.second>.col-sm-4{
      position: relative;
      bottom: 227px;
    }
    .two>.second>.col-sm-5{
      position: relative;
      bottom: 239px;
    }
    .two>.second>.col-xs-12>h1{
       font-size: 16px;
       font-weight: bold;
       position: relative;
       left: 30px;
       width:150px;
    }
    .two>.second>.col-xs-12>.text>span{
  
        font-size: 7px;
        font-weight: bold;
        position: relative;
        top: -22px !important;
        left: 32px;
    }
    .two>.second>.col-sm-4>h4>.span1{
      font-weight: bold;
      font-size: 15px;
      left: 30px;
      position: relative;
      width: 150px;
   }
   .two>.second>.col-sm-4>h4>.span2{
    position: relative !important;
    top: -6px !important;
    left: 30px ;
    font-size: 15px
   }
   .two>.second>.col-md-4>input {
    border: 1px solid !important;
    border-color: black;
    width: 148px;
    height: 29px;
    text-align: center;
    font-size: 14px;
    position: relative;
    top: 0px;
    left: 30px;
  }
  .two>.second>.col-md-4>.btn {
    font-size: 12px;
    /* height: 42px; */
    width: 107px;
    height: 33px;
    left: 29px;
    padding: 7px
  }
  .two>.second>.col-md-4>::-webkit-input-placeholder{
    text-align: center;
    font-size:10px;
    padding: 10px;
  }
  .three>.first>.col-md-12 {
    position: absolute;
    text-align: right;
    bottom: -30px;
  }
  .three>.first>.col-md-12>img {
    width: 43px;
  }
  .three>.first>.col-md-12>h6 {
    position: relative;
    top: 16px;
    left: -94px;
    font-size: 10px;
  }  
  .container.two>.row.second{
    height: 75px;
  }
  }
  
  @media only screen and (width: 375px) /* for mobile size 375px */
  {
    body {
      font-family: 'Montserrat', sans-serif;
    //   overflow-x: hidden;
      background-image: url('../../assets/images/right.png');
      background-repeat: no-repeat;
      background-position: right top 82px;
      background-size: 42% 25%;
    }
    .one>.second>.col-xs-5>h1 {
      font-size: 34px;
  }
  .one>.second>.col-xs-5>h2 {
    font-size: 23px;
    bottom: 77px;
    position: relative;
    left: 162px;
    width: 100px;
  }
  }
  
  /* @media  screen and (min-width: 320px) and (max-width: 500px) */
  @media only screen and (width: 425px) /* for mobile size 425px */
  {
    body {
      font-family: 'Montserrat', sans-serif;
      overflow-x: hidden;
      background-image: url('../../assets/images/right.png');
      background-repeat: no-repeat;
      background-position: right top 82px;
      background-size: 47% 21%;
    }
    .one>.second>.col-xs-5>h1 {
      font-size: 35px;
  }
  .one>.second>.col-xs-5>h2 {
    font-size: 23px;
    bottom: 77px;
    position: relative;
    left: 162px;
    width: 100px;
  }
  
  }
  