#logo {
    padding: 10px;
    height:  52px;
}

@media screen and (max-width: 39.9375em) {

    #logo, .cta-btn {
        display:block;
    }
    .cta-btn {
        width:100%;
        text-align:center;
        margin-top:20px;
        overflow-x: hidden;
        padding-left: 30px;
        padding-right: 30px;
    }
    .header {
        margin-bottom: 0;
      }

}

.mat-elevation-z6{
  background-color: #20233E;
  z-index:10;
  width: 100%;
  position: fixed;
}
.col-md-6{
  padding: unset;
}
.mat-icon-button{
  position: relative;
  top: 7px;
  float: right;
}

i{
  color: #03BCF1;
}
