<div class="mat-elevation-z6">
  <div class="container">
    <div class="col-md-6 col-xs-6">
    <a><img src="/assets/images/logo.svg" id="logo"></a>
    </div>
    <div class=" col-md-4">

    </div>
    <div class="col-md-2 col-xs-6">

      <button md-icon-button [mdMenuTriggerFor]="menu">
      <i class="material-icons" type="button">face</i>
      </button>
      <button md-icon-button>
      <i class="material-icons" type="button">more_vert</i>
      </button>

      <md-menu #menu="mdMenu">
        <button md-menu-item>
        <md-icon> perm_identity </md-icon>
        <span>KYC</span>
        </button>
        <button md-menu-item>
        <md-icon>book</md-icon>
        <span>Knowledge Center</span>
        </button>
        <button  md-menu-item>
        <md-icon>backspace</md-icon>
        <span>Logout</span>
        </button>
      </md-menu>
    </div>
  </div>
</div>
