<body class="admin">  
      
        <div class="mat-elevation-z6">
                <div class="container">
                  <div class="col-md-6 col-xs-6">
                    <a routerLink="/dashboard"><img src="/assets/images/logo.svg" id="logo"></a>
                  </div>
                  <div class=" col-md-4">
              
                  </div>
                  <div class="col-md-2 col-xs-6">
                    <button mat-icon-button [matMenuTriggerFor]="menu">
                        <i class="material-icons" type="button">person</i>                                
                    </button>
                    <mat-menu #menu="matMenu">
                        <button mat-menu-item>Logout</button>
                    </mat-menu>
                 </div>
                </div>
              </div>
              <br>
              
<div class="centerthis container admin">
   <div class="row1">
       <div class="col-md-12">
           <h1> 123masterkey </h1> 
            <h3>Welcome to amdin panel</h3>
       </div>
   </div>
</div>
 
 <div class=" centerthis container">
   <div class="row2">
        <div class="col-md-4 col-xs-4 col-sm-4">
            <mat-card>Upload Listing</mat-card>
        </div>
        <div class="col-md-4 col-xs-4 col-sm-4">
            <mat-card>Manage Listing</mat-card>
        </div>
        <div class="col-md-4 col-xs-4 col-sm-4">
            <mat-card>Manage Builders</mat-card>
        </div>
   </div>
   </div> 
<br>
 <div class="centerthis container">
   <div class="row3">
       <div class="col-md-4 col-xs-4 col-sm-4" >
         <mat-card>Manage Bids</mat-card>           
       </div>
       <div class="col-md-4 col-xs-4 col-sm-4">
        <mat-card>Web Analytics</mat-card> 
       </div>
       <div class="col-md-4 col-xs-4 col-sm-4">
        <mat-card>Upload Banner Ads</mat-card>
      </div>
   </div>
</div>
<br>
<div class="centerthis container">
   <div class="row4">
       <div class="col-md-4 col-xs-4 col-sm-4">

       </div>
       <div class="col-md-4 col-xs-4 col-sm-4">
        <mat-card>Manage users</mat-card>
       </div>
       <div class="col-md-4 col-xs-4 col-sm-4">

       </div>
   </div>
</div>
</body>