<br><br>
<div class="centerthis container">
  <div class="row1">
    <div class="col-md-12">
      <h1>123 MasterKey</h1>
    </div>
  </div>
</div>

<div class="centerthis container">
  <div class="row2">
    <div class="col-md-12">
      <h3>A small gateway to all keys</h3>
    </div>
  </div>
</div><br>

<div class="centerthis container">
  <div class="row3">
    <div class="col-md-4"></div>
    <div class="col-md-4">
      <mat-card>
        <mat-card-title>Admin panel</mat-card-title>
        <div class="login-form">
            <mat-form-field>
              <input type="text" [(ngModel)]="username" matInput placeholder="Username" >
            </mat-form-field>
            <mat-form-field>
              <input [(ngModel)]="password" matInput placeholder="Password" type="password">
            </mat-form-field><br>
            <button id="submit" (click)="submitInfo()" mat-raised-button>Submit</button>            
        </div>
      </mat-card>
    </div>
    <div class="col-md-4"></div>
  </div>
</div>
