<div class="centerthis"><br>
  <div class=" centerthis container ">
    <div class="col-md-12 col-xs-12 ">
       <h3 style="color:white;">Select Sport</h3><br>
        <md-select [(ngModel)] = "sportsValue" name="sports" floatPlaceholder="never"  placeholder="Select Sport" required>
           <md-option   *ngFor="let sport of sports" [value] = 'sport.tValue'>
            {{ sport.tValue }}
           </md-option>
         </md-select> <br> <br>
         <h3 style="color:white;">Select Tournament</h3><br>
         <md-select
             [(ngModel)] = "tournamentValue" name="tournaments" floatPlaceholder="never"  placeholder="Select Tournament" required>
            <md-option   *ngFor="let tournament of tournaments" [value] = 'tournament.tValue'>
             {{ tournament.tValue }}
            </md-option>
         </md-select> <br> <br>

        <md-input-container class="example-full-width">
         <input type="text" mdInput style="color:white" placeholder="Search Match" name="search"  [(ngModel)] = "searchMatch">
        </md-input-container> <br><br>
       <button type="button" class="raised" md-raised-button>Scrape</button><br><br>

     </div><br>
  </div> <br>
</div>
