<div class="centerthis">
  <br>
    <div class=" centerthis container ">
       <div class="col-md-12 col-xs-12 ">
         <h3 style="color:white;">Create Tournament</h3><br>
            <md-select
                [(ngModel)] = "sportsValue" name="sports" floatPlaceholder="never"  placeholder="Select Sports" required>
               <md-option   *ngFor="let sport of sports" [value] = 'sport.tValue'>
                {{ sport.tValue }}
               </md-option>
            </md-select> <br> <br>

            <md-input-container class="example-full-width">
               <input type="text" mdInput style="color:white" placeholder="Search Match" name="search"  [(ngModel)] = "searchMatch">
           </md-input-container> <br><br>

            <button type="button" class="raised" md-raised-button>Save</button><br><br>



    </div>
  <br>
</div>
<br>
</div>
