<div class="centerthis">
 <br>
  <div class=" centerthis container ">
    <div class="col-md-12 col-xs-12 ">
     <h3 style="color:white;">Search Match</h3><br>
     <button type="button" class="raised" md-raised-button>Search Match</button><br><br>
      <md-input-container class="example-full-width">
      <input type="text" mdInput style="color:white" placeholder="Search Match" name="search"  [(ngModel)] = "searchMatch">
      </md-input-container><br><br>
     <button type="button" class="raised" md-raised-button (click)="find()">Find Match</button> <br><br>

      <md-select *ngIf = 'show' [(ngModel)] = "tournamentValue" name="tournament" floatPlaceholder="never"  placeholder="Tournaments" required>
      <md-option  *ngFor="let tournament of tournaments" [value] = 'tournament.tValue'>
      {{ tournament.tValue }}
      </md-option>
      </md-select>
    </div> <br>
  </div>
<br>
</div>
